
@{
    ViewBag.Title = "NuestraEmpresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="our-company">
    <!-- MAIN -->
    <main class="container-fluid p-0">
        <!-- HERO -->
        <section class="p-md-0 mt-0">
            <div class="row m-0 p-md-4 p-2">
                <div class="col-12">
                    <div class="d-flex flex-wrap align-items-stretch mt-4  py-lg-5 py-md-3 py-1 radius">
                        <div class="col-md-6 col-12 order-md-1 order-2">
                            <div class="content border-rad-10 bg-card h-100 d-flex flex-column justify-content-center align-items-center p-lg-5 p-md-3">
                                <div class="p-xl-5 p-3">
                                    <h1 class="font-30 fw-bold text-md-start text-center m-5 px-md-4 px-2 py-2">Soluciones financieras automotrices para ayudar a mejorar tu calidad de vida.</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 order-md-2 order-1">
                            <div class="img-hero-container">
                                <img class="img-fluid " src="~/img/imgs/our-company.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-lg">
            <!-- Description -->
            <section class="p-0 m-0 only-desktop">
                <div class="container-fluid">
                    <div class="main-content d-flex justify-content-center">
                        <div class=" col-12 my-4">
                            <div class="d-flex flex-column align-items-center">
                                <h2 class="mb-0 text-center font-30 p-5">La Calidad de servicio, experiencia, confianza y gran respaldo de Marubeni en el mundo, son los pilares de Marubeni Credit que busca desarrollar procesos que permitan el acceso fácil, ágil y transparente a la hora de financiar un vehículo.</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ICONS -->
            <section class="p-md-0">
                <div class="container-fluid">
                    <!-- Icons Container -->
                    <div class="col-12">
                        <div class="row justify-content-center align-items-center">
                            <!-- Item -->
                            <div class="col-xl-3 col-lg-3 col-sm-6 col-12 my-md-4 my-3 px-md-4 aux-height ">
                                <div class="finance-card d-flex flex-column justify-content-center align-items-center px-2">
                                    <div class="big-icon">
                                        <img class="img-fluid icon-1" src="~/img/icons/big-1.svg" alt="">
                                    </div>
                                    <p class="mb-0 font-24 px-md-5 text-center icon-font"><strong>Integridad y Transparencia</strong></p>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-xl-3 col-lg-3 col-sm-6 col-12 my-md-4 my-3 px-md-4 aux-height ">
                                <div class="finance-card d-flex flex-column justify-content-center align-items-center px-2">
                                    <div class="big-icon">
                                        <img class="img-fluid icon-2" src="~/img/icons/big-2.svg" alt="">
                                    </div>
                                    <p class="mb-0 font-24 px-md-5 text-center icon-font"><strong>Innovación</strong></p>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-xl-3 col-lg-3 col-sm-6 col-12 my-md-4 my-3 px-md-4 aux-height ">
                                <div class="finance-card d-flex flex-column justify-content-center align-items-center px-2">
                                    <div class="big-icon">
                                        <img class="img-fluid icon-3" src="~/img/icons/big-3.svg" alt="">
                                    </div>
                                    <p class="mb-0 font-24 px-md-5 text-center icon-font">
                                        <strong>
                                            Calidad y
                                            Excelencia
                                        </strong>
                                    </p>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-xl-3 col-lg-3 col-sm-6 col-12 my-md-4 my-3 px-md-4 aux-height ">
                                <div class="finance-card d-flex flex-column justify-content-center align-items-center px-2">
                                    <div class="big-icon">
                                        <img class="img-fluid icon-4" src="~/img/icons/big-4.svg" alt="">
                                    </div>
                                    <p class="mb-0 font-24 px-md-5 text-center icon-font"><strong>Confiabilidad y Respaldo</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- QUIENES SOMOS -->
            <section class="p-md-0 mt-4 py-5">
                <div class="container-fluid">
                    <div class="main-content p-md-5 p-0 d-flex justify-content-center px-md-5">
                        <div class="col-sm-9 col-11 m-h-200">
                            <div class=" d-flex flex-column align-items-center">
                                <h2 class="text-red  my-3 p-md-3 fw-bolder">Quiénes Somos</h2>
                                <p class="mb-0 text-center">
                                    Somos una empresa que nace hace más de 40 años, para entregar soluciones
                                    financieras automotrices a la medida de sus clientes en Chile.
                                </p>
                                <br />
                                <p class="mb-0 text-center">
                                    La calidad de servicio, experiencia, confianza y gran respaldo de Marubeni el mundo, son los pilares de Marubeni Credit que busca desarrollar procesos que permitan el acceso fácil, ágil y transparente a la hora de financiar un vehí­culo.
                                </p>
                                <br />
                                <p class="mb-0 text-center">
                                    El compromiso de calidad y servicio que asumimos con nuestros clientes, nos mueve a seguir avanzando en la búsqueda de mejoras continuas e innovación que permite otorgar un servicio de excelencia y nos posiciona como una Compañía lí­der en el mercado de financiamiento automotriz.
                                </p>
                                <br />
                                <p class="mb-0 text-center">
                                    Somos parte de  Marubeni Corporation de Japón, con más de 150 años de exitosa trayectoria comercial, operando en 67 países, más de 47.000 empleados, participando activamente en el mundo en industrias tales como Automotriz, Transporte, Minería, Energía entre otras.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>