<!-- MAIN -->
<main class="container-fluid p-0">
    <!-- HERO- Terms -->
    <section class="p-md-0 my-4">
        <div class="row m-0 p-md-4 p-2">
            <div class="col-12 finance-card">
                <div class="d-flex flex-wrap align-items-stretch mt-4 rounded py-0 ">
                    <div class="col-12 p-1">
                        <h1 class="fw-bolder text-center p-md-5 p-3">TÉRMINOS Y CONDICIONES SIMULADOR DE CRÉDITO MARUBENI CREDIT</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Accordion-Separated -->
    <section class="p-md-0 mt-0 only-desktop">
        <div class="container-fluid">
            <div class="row p-md-4">
                <!-- Menu -->
                <div class="col-md-6 px-5">
                    <ol class="list-containerTCS px-5">
                        <li class="fs-4 py-2 ">
                            <a class="text-black text-decoration-none fw-bold" data-bs-target="#collapse1modalTCS" role="button" aria-expanded="true" aria-controls="collapseExample">
                                Antecedentes
                            </a>
                        </li>
                        <li class="fs-4 py-2">
                            <a class="text-black text-decoration-none" data-bs-target="#collapse2modalTCS" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Responsabilidad de los usuarios
                            </a>
                        </li>
                        <li class="fs-4 py-2">
                            <a class="text-black text-decoration-none" data-bs-target="#collapse3modalTCS" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Responsabilidad de Marubeni Credit
                            </a>
                        </li>
                        <li class="fs-4 py-2">
                            <a class="text-black text-decoration-none" data-bs-target="#collapse4modalTCS" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Simulador
                            </a>
                        </li>
                        <li class="fs-4 py-2">
                            <a class="text-black text-decoration-none" data-bs-target="#collapse5modalTCS" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Políticas de Privacidad
                            </a>
                        </li>
                        <li class="fs-4 py-2">
                            <a class="text-black text-decoration-none" data-bs-target="#collapse6modalTCS" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Uso de cookies
                            </a>
                        </li>
                        <li class="fs-4 py-2">
                            <a class="text-black text-decoration-none" data-bs-target="#collapse7modalTCS" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Contacto
                            </a>
                        </li>
                    </ol>
                </div>
                <!-- Body -->
                <div class="col-md-6  body-containerTCS">
                    <div class="collapse show" id="collapse1modalTCS">
                        <div class="d-flex flex-column px-4">

                            <p class="mb-1 fs-5 py-2">1.1 Marubeni Auto Finance Limitada, R.U.T. 78.624.210-K, domiciliado en Vicuña Mackenna N°3300, comuna de Macul, Región Metropolitana, en adelante “Marubeni Credit”, ha elaborado un simulador de crédito que otorga a las personas, que acceden a la herramienta dispuesta en el sitio www.honda.cl, información preliminar sobre las características del financiamiento automotriz que opte según el vehículo y las condiciones particulares del crédito que desea adquirir, en adelante el “Simulador”. </p>

                            <p class="mb-1 fs-5 py-2">1.2 Honda Motor de Chile S.A., R.U.T. 96.870.620-9, domiciliado en Avenida del Parque N°4160, torre A, piso 5, en adelante “Honda”, ha dispuesto el sitio web www.honda.cl, indistintamente el “Sitio”, donde ofrece información referido a la venta de vehículos motorizados, generadores, baterías y otros servicios complementarios. </p>

                            <p class="mb-1 fs-5 py-2">
                                1.3	El presente documento establece los términos y condiciones aplicables al Simulador que se ofrece en el Sitio. El uso e información dispuesta en el Sitio será de exclusiva responsabilidad de Honda, sin perjuicio del acceso y funcionamiento del Simulador cuya responsabilidad recae en Marubeni Credit. Marubeni Credit no tiene injerencia ni administra el Sitio, limitándose a la operación del Simulador.
                            </p>
                            <p class="mb-1 fs-5 py-2">
                                Cualquier persona que desee acceder y/o usar el contenido del Simulador podrá hacerlo sujetándose a los presente términos y condiciones. En consecuencia, cualquier persona que no acepte estos términos y condiciones, los cuales tienen un carácter obligatorio, vinculante y sin exclusiones, deberá abstenerse de utilizar el Simulador.
                            </p>

                            <p class="mb-1 fs-5 py-2">1.4 Marubeni Credit podrá modificar el Simulador en cualquier momento y sin necesidad de dar aviso previo o posterior. Las modificaciones entrarán en vigor desde su publicación en el Sitio y sólo serán aplicables a interacciones o usos de la herramienta realizadas con posterioridad a su publicación.</p>


                        </div>
                    </div>
                    <div class="collapse" id="collapse2modalTCS">
                        <div class="d-flex flex-column px-4">

                            <p class="mb-1 fs-5 py-2">2.1 El acceso, navegación y utilización del Simulador será gratuito para los usuarios, sin perjuicio que determinadas operaciones requieran del envío de datos de carácter personal. En todo caso, los usuarios tendrán los derechos establecidos en la Ley N°19.628 sobre Protección de la Vida Privada.</p>

                            <p class="mb-1 fs-5 py-2">2.2 Los usuarios deberán ingresar información exacta, precisa y verídica al Simulador al momento de generar la solicitud preliminar de financiamiento y durante todo el proceso de crédito, utilizando la herramienta de acuerdo con las funcionalidades que esta ofrece y a los fines por los cuales se dispone en el Sitio. El usuario tendrá la responsabilidad de actualizar los datos personales conforme resulten necesario para el desarrollo del negocio.  En consecuencia, se podrá rechazar cualquier solicitud realizada por usuarios en el evento de constatar que los datos ingresados no son fidedignos, exactos o en el evento que los mismos sean falsos. </p>

                            <p class="mb-1 fs-5 py-2">2.3 El tratamiento de los datos personales ingresados se regirá por nuestra Política de Privacidad y la normativa aplicable, según lo dispuesto el punto 5 del presente documento.</p>

                            <p class="mb-1 fs-5 py-2">
                                2.4	Durante la utilización del Simulador, los usuarios tendrán prohibido:<br />
                                (i) Restringir el uso o inhibir en su uso a cualquier visitante o usuario registrado del Sitio, incluso mediante acciones de piratería informática, hackeo, o la desconfiguración de cualquier porción del Sitio; (ii) utilizar el Simulador con propósitos ilícitos; (iii) transmitir: elementos o datos de naturaleza ilícita, fraudulenta, amenazante, abusiva, injuriosa, difamatoria, obscena o de alguna forma objetable, o que contravenga la propiedad intelectual u otros derechos ya sean nuestros o de terceras personas; materiales o información no pública acerca de una empresa sin la debida autorización; cualquier secreto comercial de terceras personas, o cualquier tipo de propaganda, cadena, sistemas del tipo piramidal, oportunidades de inversión, u otra comunicación comercial no solicitada (salvo aquellas que han sido expresamente permitidas por nosotros), virus, troyanos, gusanos o cualquier otro programa o elemento dañino o destructivo; (iv) modificar, adaptar, sublicenciar, traducir, vender o desarticular cualquier parte del Simulador; (v) remover cualquier aviso de propiedad intelectual, marca comercial, u otro derecho patrimonial, contenido en el Simulador; (vi) redireccionar cualquier parte del Simulador sin nuestra previa autorización; (vii) Recopilar información acerca de los visitantes o usuarios registrados del Simulador; (viii) crear una base de datos bajando y almacenando sistemáticamente la totalidad o parte de los contenidos del Simulador.
                            </p>
                        </div>
                    </div>
                    <div class="collapse" id="collapse3modalTCS">
                        <div class="d-flex flex-column px-4">

                            <p class="mb-1 fs-5 py-2">3.1 Los contenidos del Simulador corresponden a información preliminar y eventual sobre el otorgamiento del crédito automotriz, dado que los datos personales y antecedentes del vehículo son ingresados por el propio usuario, por lo que las condiciones finales del otorgamiento del crédito quedarán sujetas a la evaluación comercial a realizar con posterioridad, que exige un análisis acabado de los antecedentes financieros del solicitante. Por lo anterior, la información dispuesta por el Simulador no constituye una cotización vinculante, sino información referencial del crédito que puede variar una vez realizado íntegramente el análisis financiero.</p>

                            <p class="mb-1 fs-5 py-2">3.2 La información dispuesta en el Simulador no constituye una cotización realizada con información personal y financiera suficiente obtenida a través de medios oficiales destinados a tal fin en conformidad a la ley, por tanto, el análisis de la solvencia económica y su comunicación al usuario sólo será efectuado cuando se haya realizado tal proceso y obtenido dicha información, lo que será informado oportunamente al medio de comunicación registrado por el usuario en su solicitud. </p>

                            <p class="mb-1 fs-5 py-2">3.3 La información dispuesta en el Simulador constituye una guía general e informativa respecto de los beneficios, productos y servicios que ofrece Marubeni Credit al público en general para permitir explorar distintas alternativas de configuración de financiamiento según su situación y preferencias financieras y comerciales. En este contexto, no deben considerarse como una asesoría financiera o de otra índole particular respecto a casos específicos.</p>

                            <p class="mb-1 fs-5 py-2">3.4 Marubeni Credit no se hace responsable de la suspensión, temporal o definitiva, del servicio y/o del acceso al Sitio.</p>

                            <p class="mb-1 fs-5 py-2">3.5 Marubeni Credit no será responsable sobre:</p>

                            <p class="mb-1 fs-5 py-2">a) Los datos personales que el usuario proporcione a sitios web de terceros que no son de propiedad de Marubeni Credit, aunque se haya accedido a ellos mediante enlaces (links) que aparecen en el Sitio. Es responsabilidad del usuario informarse sobre las políticas de privacidad aplicables a los sitios web enlazados. </p>
                            <p class="mb-1 fs-5 py-2">b) La exactitud de la información que el usuario proporcione voluntariamente a Marubeni Credit. </p>
                            <p class="mb-1 fs-5 py-2">c) Los datos personales que el usuario proporcione dentro del sitio web www.honda.cl directamente a Honda en secciones distintas al Simulador.  </p>

                        </div>
                    </div>
                    <div class="collapse" id="collapse4modalTCS">
                        <div class="d-flex flex-column px-4">

                            <p class="mb-1 fs-5 py-2">4.1 El Sitio contiene una sección denominada “Simulación” que permite a los usuarios del Sitio realizar una evaluación inicial del crédito automotriz para el vehículo motorizado que desee adquirir con la herramienta Simulador. Se accederá a la herramienta a través de botones o banner en el mismo Sitio. </p>

                            <p class="mb-1 fs-5 py-2">Para realizar la simulación el usuario deberá:</p>

                            <p class="mb-1 fs-5 py-2">(i) Seleccionar la marca, modelo y versión del vehículo que desee adquirir, además de indicar las condiciones del crédito que requiera (tipo de crédito, monto del pie y número de cuotas);</p>

                            <p class="mb-1 fs-5 py-2">(ii) Ingresar los datos personales del solicitante, tales como: nombre completo, R.U.N., fecha de nacimiento, correo electrónico, teléfono, región, concesionario, renta.</p>

                            <p class="mb-1 fs-5 py-2">(iii)	Ingresar el código de verificación enviado al correo electrónico registrado;</p>

                            <p class="mb-1 fs-5 py-2">(iv) Confirmar los datos ingresados y enviar la solicitud de financiamiento.</p>

                            <p class="mb-1 fs-5 py-2">(v) La información ingresada será contrastada con las condiciones objetivas para acceder al financiamiento publicadas por Marubeni Credit para efecto de determinar si es posible continuar con la evaluación comercial o sin se requieren más antecedentes preliminarmente. En caso que se verifique preliminarmente que se cumple con las condiciones objetivas, se enviará un correo automático con el Resultado de Simulación al cliente y se coordinará la atención telefónica por parte de un Ejecutivo Comercial. En caso contrario, se le informará al cliente de tal situación y se le sugerirá concurrir a una sucursal de Marubeni Credit para evaluar su caso con mayores antecedentes. </p>

                            <p class="mb-1 fs-5 py-2">4.2 El Simulador sólo está disponibles para personas que tengan capacidad legal para contratar y cumplan con las condiciones comerciales que Marubeni Credit ha determinado para el otorgamiento del financiamiento. Las condiciones objetivas para determinar el otorgamiento del crédito a los usuarios, según el tipo de financiamiento seleccionado, se encuentran disponibles en: https://www.marubenicredit.cl/atencion-al-cliente/condiciones-objetivas-para-el-otorgamiento-del-credito/.</p>
                            <p class="mb-1 fs-5 py-2">4.3 La información para la simulación es proporcionada por el propio usuario, sin que conste su veracidad a Marubeni Credit. En tal sentido, la evaluación preliminar y la información que contenga la simulación no es vinculante, sino que es meramente referencial, por lo que puede sufrir modificaciones una vez analizados íntegramente los antecedentes personales y financieros del usuario.</p>
                            <p class="mb-1 fs-5 py-2">4.4 Tipos de Crédito que permite explorar el Simulador:</p>
                            <p class="mb-1 fs-5 py-2">a) Crédito Tradicional: Financiamiento automotriz otorgado por Marubeni Credit para automóviles que comprende el pago mediante cuotas fijas mensuales y con un plazo de 6 hasta 60 meses. </p>
                            <p class="mb-1 fs-5 py-2">b) Autoplan: Financiamiento automotriz otorgado por Marubeni Credit para automóviles nuevos que permite renovar el vehículo cada 2 o 3 años, entregando un pie del 20% del valor del vehículo, un 30% se paga en cuotas mensuales fijas por un período de tiempo (2 o 3 años) y el 50% restante corresponde al valor de retoma garantizado (VRG) que tendrá tu auto al final del período que corresponde a la última cuota del contrato (N° 25 o 37 dependiendo de plazo de contrato). Este financiamiento permite mantener el auto durante el mejor período de vida útil y luego renovarlo, pudiendo acceder al VRG en caso de cumplir las condiciones dispuestas en el contrato de crédito.  </p>
                            <p class="mb-1 fs-5 py-2">La contratación del crédito quedará sujeto a la evaluación financiera que realice Marubeni Credit a partir de los antecedentes proporcionados por el usuario y adicionalmente de aquellos financieros y comerciales que recolecte u obtenga Marubeni Credit a través de instituciones públicas o privadas u otras fuentes legítimas destinadas a tal fin, conforme a las condiciones objetivas para el otorgamiento del crédito, lo que será comunicado oportunamente al usuario al medio de comunicación registrado. Se deja constancia que el proceso de evaluación comercial y la determinación de sujeto de crédito no se efectúa a través del Simulador sino que directamente con los Ejecutivos Comerciales de Marubeni Credit. En caso que el proceso inicial en el Simular sea exitoso, el cliente será derivado al proceso de evaluación formal señalado con posterioridad al término del envío de información del Simulador. </p>
                            <p class="mb-1 fs-5 py-2">4.5 Definiciones de conceptos e información incorporado en el Simulador:</p>
                            <p class="mb-1 fs-5 py-2">Para efecto del de uso del Simulador y la exploración de alternativas de financiamiento que podrá realizar el usuario en el mismo, se precisan a continuación algunos conceptos e información incluida en dicha herramienta: </p>
                            <p class="mb-1 fs-5 py-2">a) VRG: Valor de retoma garantizado del vehículo financiado en caso de aceptar el cliente la oferta de compra efectuada por Marubeni Credit al término del crédito en modalidad Autoplan (crédito inteligente). Para poder ser elegible para aceptar la opción de compra el cliente deberá cumplir con los requisitos estipulados en el contrato de crédito. El VRG es equivalente al monto de la última cuota del crédito en esta modalidad. </p>
                            <p class="mb-1 fs-5 py-2">b) Precio: El monto de dinero indicado al efecto corresponde al precio de lista indicado para cada vehículo por el concesionario, incorporando el respectivo descuento por bono de financiamiento en caso de ser aplicable. .</p>
                            <p class="mb-1 fs-5 py-2">c) Costo Total del Crédito: El monto total que debe asumir el Cliente, y que corresponde a la suma de todos los pagos periódicos definidos como Valor de la Cuota en función del plazo acordado. </p>
                            <p class="mb-1 fs-5 py-2">d) CAE (Carga Equivalente Anual): El Indicador que, expresado en forma de porcentaje, revela el costo de un crédito en un período anual, cualquiera sea el plazo pactado para el pago de la obligación. Para efectos del Simular, se calcula el CAE de conformidad con la información elegida por el usuario y una tasa de interés referencial que se indica en el misma herramienta. Se hace presente que atendido que la CAE se calcula a partir de una tasa referencial la cual no resulta vinculante, las condiciones de un eventual negocio se calcularán e informarán previo a la suscripción de cualquier crédito y luego de haber concluido el proceso de evaluación de crédito posterior al uso del Simulador. </p>

                        </div>
                    </div>
                    <div class="collapse" id="collapse5modalTCS">
                        <div class="d-flex flex-column px-4">

                            <p class="mb-1 fs-5 py-2">5.1 Se considerarán datos personales del usuario, su nombre, rol único nacional, dirección de correo electrónico, número de teléfono, domicilio y todos los demás datos o cualquiera otra información que utilizados por sí solos o conjuntamente o junto a otros datos, permitan identificarlo en forma individual. El tratamiento de los datos personales de los usuarios se apegará al cumplimiento de la Ley N°19.628 sobre Protección de la Vida Privada y demás normativa vigente que resulte aplicable, apegándose especialmente a los principios de confidencialidad, finalidad y seguridad.</p>

                            <p class="mb-1 fs-5 py-2">5.2 El usuario que envíe, ingrese o registre información de carácter personal a través del Simulador, sea a través de formularios, solicitudes o registro, autoriza el tratamiento de sus datos personales por parte de Marubeni Credit quien lo realizará siempre con apego a la normativa vigente y para los siguientes fines de: (i) mantener un registro de sus clientes, sus requerimientos y contactarlos; (ii) para la correcta evaluación comercial y financiera de los clientes, (iii) para el proceso, gestión y otorgamiento del proceso de crédito y de su relación comercial en general; (iv), comprobar la veracidad o falsedad de estos datos ingresados; (v) enviar promociones, publicidad y beneficios generales; (vi) proteger los derechos, propiedad o seguridad de Marubeni Credit o de nuestros usuarios. Asimismo, el usuario autoriza la comunicación de sus datos personales a Honda y sus filiales sólo en el caso de ser necesario para la correcta implementación y otorgamiento de los servicios ofrecidos por el Simulador.</p>

                            <p class="mb-1 fs-5 py-2">5.3 Al hacer uso y completar el proceso contenido en el Simulador con el envío de información a Marubeni Credit, el usuario autoriza igualmente a Marubeni Credit para comunicar los datos proporcionados voluntariamente por el primero a las siguientes sociedades relacionadas del segundo que son parte del Grupo Marubeni en Chile: Marubeni Holding Limitada, Marubeni Auto Limitada, Distribuidora Automotriz Marubeni Limitada; para que éstas puedan tratar los datos en cuestión y almacenarla en sus bases de datos con el objeto de enviarle al usuario promociones, publicidad y en general ofertas de sus respectivos productos y servicios. Lo anterior, sin perjuicio de los derechos del Usuario señalados en el punto 5.5 siguiente.      </p>

                            <p class="mb-1 fs-5 py-2">5.4 En el caso de la solicitud de una simulación de crédito, el usuario que envíe sus datos personales autoriza a Marubeni Credit para comunicar, solicitar y consultar en registros públicos de morosidades los antecedentes que resulten necesarios para la evaluación de riesgo comercial y para el proceso de crédito. El usuario solicitante autoriza expresamente a Marubeni Credit para organizar, elaborar, seleccionar, extraer, confrontar, interconectar, datos de carácter personal, y en general efectuar el tratamiento de los referidos datos en conformidad con la Ley Nº19.628 sobre Protección de la Vida Privada.</p>

                            <p class="mb-1 fs-5 py-2">Los datos que en virtud de esta solicitud de crédito se le solicita proporcionar al interesado son datos de carácter facultativo que podrá libremente el interesado suministrar, y el propósito de la recolección de estos datos es exclusivamente para la evaluación de riesgo comercial, para el proceso de crédito y para las demás finalidades indicadas en la presentes Políticas de Privacidad. </p>

                            <p class="mb-1 fs-5 py-2">Para efecto de poder proceder con la evaluación de crédito será requisito la aceptación de los presentes términos y condiciones que permitan a Marubeni Credit efectuar el análisis y confirmar la información entregada con terceros, tales como registros de bases de datos especialmente autorizados al efecto.</p>

                            <p class="mb-1 fs-5 py-2">5.5 De conformidad con la normativa vigente, los usuarios siempre podrán solicitar la suspensión temporal o término definitivo a su autorización para el envío de publicidad, información comercial relevante, ofertas o promociones. Toda comunicación promocional o publicitaria enviada electrónicamente desde este sitio indicará el asunto a que se refiere, nuestra identidad como remitente y, además, un link para que el destinatario, si lo desea, pueda solicitar la suspensión de esos envíos.</p>

                            <p class="mb-1 fs-5 py-2">5.6 De acuerdo con la Ley N°19.628, los usuarios del sitio podrán ejercer los derechos en ella consagrados, esto es acceder, modificar, eliminar, bloquear y actualizar sus datos personales, oponerse al tratamiento de estos y se informados respecto de las comunicaciones o cesiones de estos en conformidad a la normativa vigente. Para el ejercicio de sus derechos el usuario puede contactarse con Marubeni Credit según lo dispuesto en el N°7 de estos Términos y Condiciones.</p>


                        </div>
                    </div>
                    <div class="collapse" id="collapse6modalTCS">
                        <div class="d-flex flex-column px-4">

                            <p class="mb-1 fs-5 py-2">6.1 Los archivos llamados “cookies” son un pequeño fichero de datos que un Sitio solicita al navegador que guarde en el computador o en el dispositivo móvil del usuario. A través de ésta se accede al Sitio de manera que los usuarios puedan ser reconocidos cada vez que se usa la página web, como también para reconocer acciones y preferencias del usuario. La mayoría de los navegadores web están configurados por defecto para aceptar estas cookies de manera automática.</p>

                            <p class="mb-1 fs-5 py-2">6.2 El usuario del Sitio puede desactivar el almacenamiento de cookies o ajustar su navegador para que le informe antes que se almacene la cookie en su computador, gestiones que son de su propia responsabilidad y que puede realizar en la sección de herramientas de su navegador.</p>


                        </div>
                    </div>
                    <div class="collapse" id="collapse7modalTCS">
                        <div class="d-flex flex-column px-4">

                            <p class="mb-1 fs-5 py-2">7 En caso de dudas, consultas o requerimientos de información de los usuarios respecto a la aplicación de las presentes Condiciones o la recolección de datos personales, se les solicita enviar a Marubeni Credit un correo electrónico a la dirección contacto@marubenicredit.cl.</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Accordion-Mobile -->
    <section id="acc-mobile" class="only-mobile">
        <div class="row m-0 p-md-4 p-2">
            <div class=" col-12 d-flex justify-content-center">
                <div class="col-lg-8 col-md-10 col-12">
                    <div class="accordion" id="accordionExample">
                        <!-- Item#1 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed fs-4 text-gray"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne">
                                    Antecedentes
                                </button>
                            </h2>
                            <div id="collapseOne"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="d-flex flex-column px-md-4 px-0">

                                        <p class="mb-1 fs-5 py-2">1.1 Marubeni Auto Finance Limitada, R.U.T. 78.624.210-K, domiciliado en Vicuña Mackenna N°3300, comuna de Macul, Región Metropolitana, en adelante “Marubeni Credit”, ha elaborado un simulador de crédito que otorga a las personas, que acceden a la herramienta dispuesta en el sitio www.honda.cl, información preliminar sobre las características del financiamiento automotriz que opte según el vehículo y las condiciones particulares del crédito que desea adquirir, en adelante el “Simulador”. </p>

                                        <p class="mb-1 fs-5 py-2">1.2 Honda Motor de Chile S.A., R.U.T. 96.870.620-9, domiciliado en Avenida del Parque N°4160, torre A, piso 5, en adelante “Honda”, ha dispuesto el sitio web www.honda.cl, indistintamente el “Sitio”, donde ofrece información referido a la venta de vehículos motorizados, generadores, baterías y otros servicios complementarios. </p>

                                        <p class="mb-1 fs-5 py-2">
                                            1.3	El presente documento establece los términos y condiciones aplicables al Simulador que se ofrece en el Sitio. El uso e información dispuesta en el Sitio será de exclusiva responsabilidad de Honda, sin perjuicio del acceso y funcionamiento del Simulador cuya responsabilidad recae en Marubeni Credit. Marubeni Credit no tiene injerencia ni administra el Sitio, limitándose a la operación del Simulador.
                                        </p>
                                        <p class="mb-1 fs-5 py-2">
                                            Cualquier persona que desee acceder y/o usar el contenido del Simulador podrá hacerlo sujetándose a los presente términos y condiciones. En consecuencia, cualquier persona que no acepte estos términos y condiciones, los cuales tienen un carácter obligatorio, vinculante y sin exclusiones, deberá abstenerse de utilizar el Simulador.
                                        </p>

                                        <p class="mb-1 fs-5 py-2">1.4 Marubeni Credit podrá modificar el Simulador en cualquier momento y sin necesidad de dar aviso previo o posterior. Las modificaciones entrarán en vigor desde su publicación en el Sitio y sólo serán aplicables a interacciones o usos de la herramienta realizadas con posterioridad a su publicación.</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Item#2 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed fs-4 py-2 text-gray"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Responsabilidad de los usuarios
                                </button>
                            </h2>
                            <div id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="d-flex flex-column px-md-4 px-0">
                                        <p class="mb-1 fs-5 py-2">2.1 El acceso, navegación y utilización del Simulador será gratuito para los usuarios, sin perjuicio que determinadas operaciones requieran del envío de datos de carácter personal. En todo caso, los usuarios tendrán los derechos establecidos en la Ley N°19.628 sobre Protección de la Vida Privada.</p>

                                        <p class="mb-1 fs-5 py-2">2.2 Los usuarios deberán ingresar información exacta, precisa y verídica al Simulador al momento de generar la solicitud preliminar de financiamiento y durante todo el proceso de crédito, utilizando la herramienta de acuerdo con las funcionalidades que esta ofrece y a los fines por los cuales se dispone en el Sitio. El usuario tendrá la responsabilidad de actualizar los datos personales conforme resulten necesario para el desarrollo del negocio.  En consecuencia, se podrá rechazar cualquier solicitud realizada por usuarios en el evento de constatar que los datos ingresados no son fidedignos, exactos o en el evento que los mismos sean falsos. </p>

                                        <p class="mb-1 fs-5 py-2">2.3 El tratamiento de los datos personales ingresados se regirá por nuestra Política de Privacidad y la normativa aplicable, según lo dispuesto el punto 5 del presente documento.</p>

                                        <p class="mb-1 fs-5 py-2">
                                            2.4	Durante la utilización del Simulador, los usuarios tendrán prohibido:<br />
                                            (i) Restringir el uso o inhibir en su uso a cualquier visitante o usuario registrado del Sitio, incluso mediante acciones de piratería informática, hackeo, o la desconfiguración de cualquier porción del Sitio; (ii) utilizar el Simulador con propósitos ilícitos; (iii) transmitir: elementos o datos de naturaleza ilícita, fraudulenta, amenazante, abusiva, injuriosa, difamatoria, obscena o de alguna forma objetable, o que contravenga la propiedad intelectual u otros derechos ya sean nuestros o de terceras personas; materiales o información no pública acerca de una empresa sin la debida autorización; cualquier secreto comercial de terceras personas, o cualquier tipo de propaganda, cadena, sistemas del tipo piramidal, oportunidades de inversión, u otra comunicación comercial no solicitada (salvo aquellas que han sido expresamente permitidas por nosotros), virus, troyanos, gusanos o cualquier otro programa o elemento dañino o destructivo; (iv) modificar, adaptar, sublicenciar, traducir, vender o desarticular cualquier parte del Simulador; (v) remover cualquier aviso de propiedad intelectual, marca comercial, u otro derecho patrimonial, contenido en el Simulador; (vi) redireccionar cualquier parte del Simulador sin nuestra previa autorización; (vii) Recopilar información acerca de los visitantes o usuarios registrados del Simulador; (viii) crear una base de datos bajando y almacenando sistemáticamente la totalidad o parte de los contenidos del Simulador.
                                        </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Item#3 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading3">
                                <button class="accordion-button collapsed fs-4 py-2 text-gray"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse3"
                                        aria-expanded="false"
                                        aria-controls="collapse3">
                                    Responsabilidad de Marubeni Credit
                                </button>
                            </h2>
                            <div id="collapse3"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading3"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="d-flex flex-column px-md-4 px-0">
                                        <p class="mb-1 fs-5 py-2">3.1 Los contenidos del Simulador corresponden a información preliminar y eventual sobre el otorgamiento del crédito automotriz, dado que los datos personales y antecedentes del vehículo son ingresados por el propio usuario, por lo que las condiciones finales del otorgamiento del crédito quedarán sujetas a la evaluación comercial a realizar con posterioridad, que exige un análisis acabado de los antecedentes financieros del solicitante. Por lo anterior, la información dispuesta por el Simulador no constituye una cotización vinculante, sino información referencial del crédito que puede variar una vez realizado íntegramente el análisis financiero.</p>

                                        <p class="mb-1 fs-5 py-2">3.2 La información dispuesta en el Simulador no constituye una cotización realizada con información personal y financiera suficiente obtenida a través de medios oficiales destinados a tal fin en conformidad a la ley, por tanto, el análisis de la solvencia económica y su comunicación al usuario sólo será efectuado cuando se haya realizado tal proceso y obtenido dicha información, lo que será informado oportunamente al medio de comunicación registrado por el usuario en su solicitud. </p>

                                        <p class="mb-1 fs-5 py-2">3.3 La información dispuesta en el Simulador constituye una guía general e informativa respecto de los beneficios, productos y servicios que ofrece Marubeni Credit al público en general para permitir explorar distintas alternativas de configuración de financiamiento según su situación y preferencias financieras y comerciales. En este contexto, no deben considerarse como una asesoría financiera o de otra índole particular respecto a casos específicos.</p>

                                        <p class="mb-1 fs-5 py-2">3.4 Marubeni Credit no se hace responsable de la suspensión, temporal o definitiva, del servicio y/o del acceso al Sitio.</p>

                                        <p class="mb-1 fs-5 py-2">3.5 Marubeni Credit no será responsable sobre:</p>

                                        <p class="mb-1 fs-5 py-2">a) Los datos personales que el usuario proporcione a sitios web de terceros que no son de propiedad de Marubeni Credit, aunque se haya accedido a ellos mediante enlaces (links) que aparecen en el Sitio. Es responsabilidad del usuario informarse sobre las políticas de privacidad aplicables a los sitios web enlazados. </p>
                                        <p class="mb-1 fs-5 py-2">b) La exactitud de la información que el usuario proporcione voluntariamente a Marubeni Credit. </p>
                                        <p class="mb-1 fs-5 py-2">c) Los datos personales que el usuario proporcione dentro del sitio web www.honda.cl directamente a Honda en secciones distintas al Simulador.  </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Item#4 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button collapsed fs-4 py-2 text-gray"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse4"
                                        aria-expanded="false"
                                        aria-controls="collapse4">
                                    Simulador
                                </button>
                            </h2>
                            <div id="collapse4"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading4"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-1 fs-5 py-2">4.1 El Sitio contiene una sección denominada “Simulación” que permite a los usuarios del Sitio realizar una evaluación inicial del crédito automotriz para el vehículo motorizado que desee adquirir con la herramienta Simulador. Se accederá a la herramienta a través de botones o banner en el mismo Sitio. </p>

                                    <p class="mb-1 fs-5 py-2">Para realizar la simulación el usuario deberá:</p>

                                    <p class="mb-1 fs-5 py-2">(i) Seleccionar la marca, modelo y versión del vehículo que desee adquirir, además de indicar las condiciones del crédito que requiera (tipo de crédito, monto del pie y número de cuotas);</p>

                                    <p class="mb-1 fs-5 py-2">(ii) Ingresar los datos personales del solicitante, tales como: nombre completo, R.U.N., fecha de nacimiento, correo electrónico, teléfono, región, concesionario, renta.</p>

                                    <p class="mb-1 fs-5 py-2">(iii)	Ingresar el código de verificación enviado al correo electrónico registrado;</p>

                                    <p class="mb-1 fs-5 py-2">(iv) Confirmar los datos ingresados y enviar la solicitud de financiamiento.</p>

                                    <p class="mb-1 fs-5 py-2">(v) La información ingresada será contrastada con las condiciones objetivas para acceder al financiamiento publicadas por Marubeni Credit para efecto de determinar si es posible continuar con la evaluación comercial o sin se requieren más antecedentes preliminarmente. En caso que se verifique preliminarmente que se cumple con las condiciones objetivas, se enviará un correo automático con el Resultado de Simulación al cliente y se coordinará la atención telefónica por parte de un Ejecutivo Comercial. En caso contrario, se le informará al cliente de tal situación y se le sugerirá concurrir a una sucursal de Marubeni Credit para evaluar su caso con mayores antecedentes. </p>

                                    <p class="mb-1 fs-5 py-2">4.2 El Simulador sólo está disponibles para personas que tengan capacidad legal para contratar y cumplan con las condiciones comerciales que Marubeni Credit ha determinado para el otorgamiento del financiamiento. Las condiciones objetivas para determinar el otorgamiento del crédito a los usuarios, según el tipo de financiamiento seleccionado, se encuentran disponibles en: https://www.marubenicredit.cl/atencion-al-cliente/condiciones-objetivas-para-el-otorgamiento-del-credito/.</p>
                                    <p class="mb-1 fs-5 py-2">4.3 La información para la simulación es proporcionada por el propio usuario, sin que conste su veracidad a Marubeni Credit. En tal sentido, la evaluación preliminar y la información que contenga la simulación no es vinculante, sino que es meramente referencial, por lo que puede sufrir modificaciones una vez analizados íntegramente los antecedentes personales y financieros del usuario.</p>
                                    <p class="mb-1 fs-5 py-2">4.4 Tipos de Crédito que permite explorar el Simulador:</p>
                                    <p class="mb-1 fs-5 py-2">a) Crédito Tradicional: Financiamiento automotriz otorgado por Marubeni Credit para automóviles que comprende el pago mediante cuotas fijas mensuales y con un plazo de 6 hasta 60 meses. </p>
                                    <p class="mb-1 fs-5 py-2">b) Autoplan: Financiamiento automotriz otorgado por Marubeni Credit para automóviles nuevos que permite renovar el vehículo cada 2 o 3 años, entregando un pie del 20% del valor del vehículo, un 30% se paga en cuotas mensuales fijas por un período de tiempo (2 o 3 años) y el 50% restante corresponde al valor de retoma garantizado (VRG) que tendrá tu auto al final del período que corresponde a la última cuota del contrato (N° 25 o 37 dependiendo de plazo de contrato). Este financiamiento permite mantener el auto durante el mejor período de vida útil y luego renovarlo, pudiendo acceder al VRG en caso de cumplir las condiciones dispuestas en el contrato de crédito.  </p>
                                    <p class="mb-1 fs-5 py-2">La contratación del crédito quedará sujeto a la evaluación financiera que realice Marubeni Credit a partir de los antecedentes proporcionados por el usuario y adicionalmente de aquellos financieros y comerciales que recolecte u obtenga Marubeni Credit a través de instituciones públicas o privadas u otras fuentes legítimas destinadas a tal fin, conforme a las condiciones objetivas para el otorgamiento del crédito, lo que será comunicado oportunamente al usuario al medio de comunicación registrado. Se deja constancia que el proceso de evaluación comercial y la determinación de sujeto de crédito no se efectúa a través del Simulador sino que directamente con los Ejecutivos Comerciales de Marubeni Credit. En caso que el proceso inicial en el Simular sea exitoso, el cliente será derivado al proceso de evaluación formal señalado con posterioridad al término del envío de información del Simulador. </p>
                                    <p class="mb-1 fs-5 py-2">4.5 Definiciones de conceptos e información incorporado en el Simulador:</p>
                                    <p class="mb-1 fs-5 py-2">Para efecto del de uso del Simulador y la exploración de alternativas de financiamiento que podrá realizar el usuario en el mismo, se precisan a continuación algunos conceptos e información incluida en dicha herramienta: </p>
                                    <p class="mb-1 fs-5 py-2">a) VRG: Valor de retoma garantizado del vehículo financiado en caso de aceptar el cliente la oferta de compra efectuada por Marubeni Credit al término del crédito en modalidad Autoplan (crédito inteligente). Para poder ser elegible para aceptar la opción de compra el cliente deberá cumplir con los requisitos estipulados en el contrato de crédito. El VRG es equivalente al monto de la última cuota del crédito en esta modalidad. </p>
                                    <p class="mb-1 fs-5 py-2">b) Precio: El monto de dinero indicado al efecto corresponde al precio de lista indicado para cada vehículo por el concesionario, incorporando el respectivo descuento por bono de financiamiento en caso de ser aplicable. .</p>
                                    <p class="mb-1 fs-5 py-2">c) Costo Total del Crédito: El monto total que debe asumir el Cliente, y que corresponde a la suma de todos los pagos periódicos definidos como Valor de la Cuota en función del plazo acordado. </p>
                                    <p class="mb-1 fs-5 py-2">d) CAE (Carga Equivalente Anual): El Indicador que, expresado en forma de porcentaje, revela el costo de un crédito en un período anual, cualquiera sea el plazo pactado para el pago de la obligación. Para efectos del Simular, se calcula el CAE de conformidad con la información elegida por el usuario y una tasa de interés referencial que se indica en el misma herramienta. Se hace presente que atendido que la CAE se calcula a partir de una tasa referencial la cual no resulta vinculante, las condiciones de un eventual negocio se calcularán e informarán previo a la suscripción de cualquier crédito y luego de haber concluido el proceso de evaluación de crédito posterior al uso del Simulador. </p>
                                </div>
                            </div>
                        </div>
                        <!-- Item#5 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading5">
                                <button class="accordion-button collapsed fs-4 py-2 text-gray"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse5"
                                        aria-expanded="false"
                                        aria-controls="collapse5">
                                    Política de Privacidad
                                </button>
                            </h2>
                            <div id="collapse5"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading5"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <p class="mb-1 fs-5 py-2">5.1 Se considerarán datos personales del usuario, su nombre, rol único nacional, dirección de correo electrónico, número de teléfono, domicilio y todos los demás datos o cualquiera otra información que utilizados por sí solos o conjuntamente o junto a otros datos, permitan identificarlo en forma individual. El tratamiento de los datos personales de los usuarios se apegará al cumplimiento de la Ley N°19.628 sobre Protección de la Vida Privada y demás normativa vigente que resulte aplicable, apegándose especialmente a los principios de confidencialidad, finalidad y seguridad.</p>

                                    <p class="mb-1 fs-5 py-2">5.2 El usuario que envíe, ingrese o registre información de carácter personal a través del Simulador, sea a través de formularios, solicitudes o registro, autoriza el tratamiento de sus datos personales por parte de Marubeni Credit quien lo realizará siempre con apego a la normativa vigente y para los siguientes fines de: (i) mantener un registro de sus clientes, sus requerimientos y contactarlos; (ii) para la correcta evaluación comercial y financiera de los clientes, (iii) para el proceso, gestión y otorgamiento del proceso de crédito y de su relación comercial en general; (iv), comprobar la veracidad o falsedad de estos datos ingresados; (v) enviar promociones, publicidad y beneficios generales; (vi) proteger los derechos, propiedad o seguridad de Marubeni Credit o de nuestros usuarios. Asimismo, el usuario autoriza la comunicación de sus datos personales a Honda y sus filiales sólo en el caso de ser necesario para la correcta implementación y otorgamiento de los servicios ofrecidos por el Simulador.</p>

                                    <p class="mb-1 fs-5 py-2">5.3 Al hacer uso y completar el proceso contenido en el Simulador con el envío de información a Marubeni Credit, el usuario autoriza igualmente a Marubeni Credit para comunicar los datos proporcionados voluntariamente por el primero a las siguientes sociedades relacionadas del segundo que son parte del Grupo Marubeni en Chile: Marubeni Holding Limitada, Marubeni Auto Limitada, Distribuidora Automotriz Marubeni Limitada; para que éstas puedan tratar los datos en cuestión y almacenarla en sus bases de datos con el objeto de enviarle al usuario promociones, publicidad y en general ofertas de sus respectivos productos y servicios. Lo anterior, sin perjuicio de los derechos del Usuario señalados en el punto 5.5 siguiente.      </p>

                                    <p class="mb-1 fs-5 py-2">5.4 En el caso de la solicitud de una simulación de crédito, el usuario que envíe sus datos personales autoriza a Marubeni Credit para comunicar, solicitar y consultar en registros públicos de morosidades los antecedentes que resulten necesarios para la evaluación de riesgo comercial y para el proceso de crédito. El usuario solicitante autoriza expresamente a Marubeni Credit para organizar, elaborar, seleccionar, extraer, confrontar, interconectar, datos de carácter personal, y en general efectuar el tratamiento de los referidos datos en conformidad con la Ley Nº19.628 sobre Protección de la Vida Privada.</p>

                                    <p class="mb-1 fs-5 py-2">Los datos que en virtud de esta solicitud de crédito se le solicita proporcionar al interesado son datos de carácter facultativo que podrá libremente el interesado suministrar, y el propósito de la recolección de estos datos es exclusivamente para la evaluación de riesgo comercial, para el proceso de crédito y para las demás finalidades indicadas en la presentes Políticas de Privacidad. </p>

                                    <p class="mb-1 fs-5 py-2">Para efecto de poder proceder con la evaluación de crédito será requisito la aceptación de los presentes términos y condiciones que permitan a Marubeni Credit efectuar el análisis y confirmar la información entregada con terceros, tales como registros de bases de datos especialmente autorizados al efecto.</p>

                                    <p class="mb-1 fs-5 py-2">5.5 De conformidad con la normativa vigente, los usuarios siempre podrán solicitar la suspensión temporal o término definitivo a su autorización para el envío de publicidad, información comercial relevante, ofertas o promociones. Toda comunicación promocional o publicitaria enviada electrónicamente desde este sitio indicará el asunto a que se refiere, nuestra identidad como remitente y, además, un link para que el destinatario, si lo desea, pueda solicitar la suspensión de esos envíos.</p>

                                    <p class="mb-1 fs-5 py-2">5.6 De acuerdo con la Ley N°19.628, los usuarios del sitio podrán ejercer los derechos en ella consagrados, esto es acceder, modificar, eliminar, bloquear y actualizar sus datos personales, oponerse al tratamiento de estos y se informados respecto de las comunicaciones o cesiones de estos en conformidad a la normativa vigente. Para el ejercicio de sus derechos el usuario puede contactarse con Marubeni Credit según lo dispuesto en el N°7 de estos Términos y Condiciones.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Item#6 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading6">
                                <button class="accordion-button collapsed fs-4 py-2 text-gray"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse6"
                                        aria-expanded="false"
                                        aria-controls="collapse6">
                                    Uso de cookies
                                </button>
                            </h2>
                            <div id="collapse6"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading6"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-1 fs-5 py-2">6.1 Los archivos llamados “cookies” son un pequeño fichero de datos que un Sitio solicita al navegador que guarde en el computador o en el dispositivo móvil del usuario. A través de ésta se accede al Sitio de manera que los usuarios puedan ser reconocidos cada vez que se usa la página web, como también para reconocer acciones y preferencias del usuario. La mayoría de los navegadores web están configurados por defecto para aceptar estas cookies de manera automática.</p>

                                    <p class="mb-1 fs-5 py-2">6.2 El usuario del Sitio puede desactivar el almacenamiento de cookies o ajustar su navegador para que le informe antes que se almacene la cookie en su computador, gestiones que son de su propia responsabilidad y que puede realizar en la sección de herramientas de su navegador.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Item#7 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading7">
                                <button class="accordion-button collapsed fs-4 py-2 text-gray"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse7"
                                        aria-expanded="false"
                                        aria-controls="collapse7">
                                    Contacto
                                </button>
                            </h2>
                            <div id="collapse7"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading7"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-1 fs-5 py-2">En caso de dudas, consultas o requerimientos de información de los usuarios respecto a la aplicación de las presentes Condiciones o la recolección de datos personales, se les solicita enviar a Marubeni Credit un correo electrónico a la dirección contacto@marubenicredit.cl.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    const listContainerTCS = document.querySelector('.list-containerTCS');
    const bodyContainerTCS = document.querySelector('.body-containerTCS');

    listContainerTCS.addEventListener('click', (e) => {
        let value = e.target.attributes[1].nodeValue;
        let regexValue = /(\w+)/gi;
        let id = value.match(regexValue);
        let bodyChildren = [...bodyContainerTCS.children];
        let arrList = [...listContainerTCS.children];
        arrList.forEach(el => {
            if (el.children[0].attributes[1].value === e.target.attributes[1].value) {
                if ([...el.children[0].classList].indexOf("fw-bold") === -1) {
                    el.children[0].classList.add("fw-bold");
                }
            } else {
                el.children[0].classList.remove("fw-bold");
            }
        })
        bodyChildren.forEach(elem => {
            if (elem.classList[1] === "show") {
                if (elem.id !== id[0]) {
                    elem.classList.toggle("show");
                }
            } else {
                if (elem.id === id[0]) {
                    elem.classList.toggle("show");
                }
            }
        })
    })
</script>